* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: auto;
    margin-bottom: 40px;
}

.margin-top {
    margin-top: 10px;
    margin-bottom: 30px;
}

.heading {
    font-family: 'Ysabeau SC', sans-serif;
}

.font-size {
    font-family: 'Barlow', sans-serif;
    font-size: 5em;
    font-weight: 600;
}

.para-font-size {
    font-family: 'PT Sans', sans-serif;
    font-size: 3em;
    margin-top: 10px;
}

.margin-img {
    margin-top: 30px;
}

#img-wh {
    width: 100%;
    height: 300px;
}

.m-top {
    margin: 50px 0px;
    font-family: 'Ysabeau SC', sans-serif;
}

.box {
    width: 50%;
    height: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding {
    padding: 30px 0px;
}

.sign-img {
    max-width: 100%;
    height: 112vh;
}

.mg-top {
    margin-top: 20px;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 60px;
}

.border-mg {
    border: 1px solid blue;
    padding: 40px;
}

#padding-none {
    padding: 0px;
}

.color-pencil {
    color: green;
    cursor: pointer;
    font-size: 1.3em;
}

.color-trash {
    color: red;
    cursor: pointer;
    margin-left: 20px;
    font-size: 1.3em;
}

#img-wh-1 {
    width: 100%;
    height: 430px;
    /* padding: 0px; */
}

.font-fly {
    font-family: 'Caprasimo', cursive;
    margin-top: 30px;
}

.f-size {
    font-size: 1em;
}

.border-blue {
    border: 1px solid skyblue
}

.outer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    width: 70%;
    border: 1px solid skyblue;
    padding: 30px 20px;
}


.child-container {
    margin-top: 60px;
}

.margin-bottom {
    margin-bottom: 20px;
}

#text-deco {
    text-decoration: none;
    padding: 3px 12px;
    border: 1px solid #0d6efd;
    border-radius: 10px;
    font-size: .8em;
    margin-right: 20px;
    color: #0d6efd;
    text-align: center;
    box-shadow: 0px 8px 8px -5px #888888;
}

#text-deco:hover {
    background-color: #0d6efd;
    color: white;
}

.bg-back {
    width: 100%;
    display: flex;
}

.wel-row {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.outer-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-box {
    width: 50%;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(238, 250, 251);
}

#outline {
    text-decoration: none;
}

.logout {
    margin-right: 50px;
    margin-bottom: 30px;
}

.f-right {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.admin-about {
    padding: 31px 50px;
    background-color: #0d6efd;
    color: white;
}

.admin-about ul li {
    font-family: 'PT Sans', sans-serif;
}

#admin-img{
    height: 300px !important;
}

.about-img{
    width: 200px;
    height: 200px;
    /* padding: 40px; */
    border-radius: 50%;
    border: 6px solid white;
}

.mg-ab-top{
    margin-top: 50px;
    padding: 50px;
}

.mg-btm{
    padding-bottom: 40px;
}

.font-inherit{
    font-size: inherit;
}

.f-fly{
    font-family: 'Barlow', sans-serif;
}

.f-title{
    font-family: 'Caprasimo', cursive;
}

.mg-left{
    margin-left: 20px;
}

.sign-img{
   height: 312px;
   max-width: 100%;
}

/* search bar css */
* {
    box-sizing: border-box;
  }

  
  form.example{
    margin-right: -47px;
  }

.has-search .form-control {
    /* padding-left: 2.375rem; */
    width: 60%;
    border-radius: 5px 0px 0px 5px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.search-btn{
    padding: 0px 7px;
    border-radius: 0px 5px 5px 0px;
    background-color: #0d6efd;
    border: none;
    color: white;
    cursor: pointer;
}

.select-box{
    padding: 5.3px;
    cursor: pointer;
}

.form-control.success input{
    border-color: green;;
} 

.form-control.error input{
    border-color: red;
}

.form-control.error{
    color: red;
    font-size: 9px;
    height: 13px;
}
/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Caprasimo', cursive; */
/* font-family: 'PT Sans', sans-serif; */
