<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Application</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow&family=Caprasimo&family=PT+Sans:ital@1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="text-center bg-primary">
        <div class="text-center mg-ab-top">
          <img src="./images/1689232842258 (1).jpg" class="about-img" />
        </div>
        <h6 class="f-fly text-white">Hello! I am </h6>
        <h4 class="f-fly">Shanu Panchal</h4>
        <h4 class="f-fly text-white">Full Stack Developer</h4>
        <a href="https://ranupl542011@gmail.com"
          ><img src="./images/icons8-email-30.png" class="mg-btm"
        /></a>
        <a href=""
          ><img src="./images//icons8-linkedin-30.png" class="mg-btm"
        /></a>
      </div>
    </div>
    <div class="container text-center">
      <h2 class="f-fly">Skills Overview</h2>
      <p class="f-size">
        I am a fresher. Below is a quick overview of my main technical skill
        sets and tools I use. Want to find out more about my experience?
      </p>
      <a href="" class="text-primary">Check out my online resume</a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center bg-primary text-white f-fly">
              Frontend
            </li>
            <li class="list-group-item text-center">HTML</li>
            <li class="list-group-item text-center">CSS</li>
            <li class="list-group-item text-center">React JS</li>
            <li class="list-group-item text-center">JavaScript</li>
          </ul>
        </div>
        <div class="col-sm">
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center bg-primary text-white f-fly">
              Backend
            </li>
            <li class="list-group-item text-center">Node JS</li>
            <li class="list-group-item text-center">Express JS</li>
            <li class="list-group-item text-center">SQL</li>
            <li class="list-group-item text-center">MongoDB</li>
          </ul>
        </div>
        <div class="col-sm">
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center bg-primary text-white f-fly">
              Others
            </li>
            <li class="list-group-item text-center">Dev Tools</li>
            <li class="list-group-item text-center">Bootstrap</li>
            <li class="list-group-item text-center">VS code</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
