
<!-- Modal for the "Forgot Password" form -->
<div class="password-modal">
<div class="modal" id="forgotPasswordModal">
  <div class="modal-content">
    <form action="/emailForm" method="post" id="emailForm" class="text-center form-control bg-form">
      <label for="forgot-email" class="text-primary">Enter your email:</label><br>
      <input  class="form-control" type="email" id="forgot-email" name="email" placeholder="Email Address" required><br>
      <button type="submit" class="btn btn-primary">Submit</button>
      <p id="forgot-error"  class="text-danger"></p>
    </form>
  </div>

</div>
</div>

<!-- Modal for the OTP form -->
<div class="password-modal">
<div class="modal" id="otpModal">
  <div class="modal-content">
    <form action="/otpForm" method="post" id="otpForm" class="text-center form-control bg-form">
      <label for="otp" class="text-primary">Enter OTP:</label>
      <input type="hidden" name="email" id="otp-email">
      <input class="form-control" type="text" id="otp" name="otp" placeholder="Enter Otp" required><br>
      <button class="btn btn-primary" type="submit">Submit</button>
      <p id="otp-error"  class="text-danger"></p>
    </form>
  </div>
</div>
</div>

<!-- Modal for the password form -->
<div class="password-modal">
<div class="modal" id="passwordModal">
  <div class="modal-content">
    <form action="/passwordEdit" method="post" id="passwordForm" class="text-center form-control bg-form">
      <label class="text-primary">Change Password</label><br>
      <label for="password">Enter your new password:</label>
      <input class="form-control" type="password" id="password" name="password" required><br>
      <label for="confirmPassword">Confirm your new password:</label>
      <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" required><br>
      <input type="hidden" name="email" id="password-email">
      <button  class="btn btn-primary" type="submit">Submit</button>
      <p id="password-error"  class="text-danger"></p>
    </form>
  </div>
</div>
</div>

<!-- Success message modal -->
<div class="password-modal">
<div class="modal" id="successModal">
  <div class="modal-content text-center">
    <p class="text-success">You have successfully changed your password!</p>
  </div>
</div>
</div>

<!-- Include the JavaScript to handle the modals and form submissions -->
<!-- <script src="/js/resetPassword.js"></script> -->
