<!-- nested models -->
<div class="modal fade" id="emailForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content text-center">
        <div class="form-group">
          <form id="form1" action="/emailForm" method="POST">
            <h3 class="heading text-primary">Account Detail</h3>
            <input type="email" placeholder="Enter email" name="email" class="form-control" required />
            <span class="text-danger">
              <% if(typeof message != undefined){ %> 
                <p><%= message %></p>
              <% } %>
            </span>
            <div>
              <button type="submit" id="next1" class="btn btn-primary">Submit</button>
            </div>
          </form>
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#otpForm">
        Next
      </button>
    </div>
  </div>
  
  <!--model for otp  -->
  <div class="modal fade" id="otpForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content text-center">
        <div class="form-group">
      <form id="form2" action="/otpForm" method="POST">
              <h3 class="heading text-primary">OTP</h3>
              <input type="otp" placeholder="Enter otp" name="otp" class="form-control" required>
              <span class="text-danger">
                <% if(typeof message != undefined){ %> 
                  <p><%= message %></p>
                <% } %>
              </span>
              <div>
                  <button type="submit" id="next2" class="btn btn-primary">Submit</button>
              </div>
          </form>
        </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#passwordForm">
            Next
          </button>
      </div>
    </div>
  </div>
  
  <!-- model for password change -->
  <!-- Modal -->
  <div class="modal fade" id="passwordForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
     <div class="form-group">
     <form id="form3" action="/passwordEdit" method="POST">
      <h3 class="heading text-primary">Change Password</h3>
      <input type="password" placeholder="Password" name="password" class="form-control" required><br>
      <input type="password" placeholder=" Confirm password" name="confimPassword" class="form-control" required><br>
      <div>
          <button type="submit" id="next3" class="btn btn-primary">Submit</button>
      </div>
  </form>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#finishForm">
    Finish
  </button>
  </div>
    </div>
  </div>
  </div>
  
  <!-- finish model -->
  <!-- Modal -->
  <div class="modal fade" id="finishForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center">
        <h4 class="text-success">Your Password Is Successfully Changed</h4>
        <p>Thank You !</p>
      </div>
    </div>
  </div>