<!-- header -->
<%- include('include/header_common.ejs') -%>
<!-- /header -->

<!-- section -->
<div class="text-center">
  <h1 class="text-primary m-top">Welcome to Todo Application</h1>
</div>
<div class="container">
  <img src="/Checklist.jpg" width="100%" height="400px" />
</div>
<!-- /section -->

<!-- footer -->
<%- include('include/footer.ejs') -%>
<!-- /footer -->
